body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/*  */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    text-align: center;
    background: rebeccapurple;
    color: white;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form {
    display: block;
    width: 50%;
    height: 33px;
    margin-left: 144px;
    margin-bottom: 18px;
}

button.loginbtn {
    width: 43%;
    height: 35px;
    background: green;
    border: none;
    color: white;
}

p.login {
    font-size: 27px;
}